<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <title>Usuń Przepis</title>
</head>

<body>

<div class="header">
    <nav class="navbar">
        <ul>
            <li><h1>Upo przepisy</h1></li>
            <li><a th:href="@{/view/all}">Wszystkie przepisy</a></li>
            <li><a th:href="@{/view/my}">Moje przepisy</a></li>
            <li><a th:href="@{/view/random}">Losowy przepis</a></li>
            <li><button id="addButton">Dodaj przepis</button></li>
        </ul>
    </nav>
</div>


<div id="delete">
<h1>Czy na pewno chcesz usunąć ten przepis?</h1>
<form th:action="@{/deleteForm/{id}(id=${recipe.id})}" method="post">
    <p><strong>Tytuł:</strong> <span th:text="${recipe.title}"></span></p>
    <p><strong>Opis:</strong> <span th:text="${recipe.description}"></span></p>
    <button type="submit" id="submit">Tak, usuń</button>
    <a type="button" id="cancelButton" th:href="@{/view/all}">Anuluj</a>

</form>
</div>


<script>
    document.getElementById("cancelButton").addEventListener("click", function() {
        window.history.back();
    });
</script>

</body>
</html>
