<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Moje przepisy!</title>
    <script src="https://kit.fontawesome.com/841f4f2efe.js" crossorigin="anonymous"></script>
</head>
<body>


<div class="header">
    <nav class="navbar">
        <ul>
            <li><h1>Upo przepisy</h1></li>
            <li><a th:href="@{/view/all}">Wszystkie przepisy</a></li>
            <li><a th:href="@{/view/my}">Moje przepisy</a></li>
            <li><a th:href="@{/view/random}">Losowy przepis</a></li>
            <li><button id="addButton">Dodaj przepis</button></li>
            <li><button th:href="@{/admin}" id="adminButton">Admin panel</button></li>
        </ul>
    </nav>
</div>




<div id="all">
    <div class="search-bar">
        <form action="/view/search" method="get">
            <input type="text" name="query" placeholder="Szukaj przepisów">
        </form>
    </div>
    <div class="main">
        <div th:each="recipe : ${recipes}" class="item" th:data-id="${recipe.id}">
            <img th:src="${recipe.image}" alt="Obraz przepisu"/>
<!--            <img th:src="@{/images/{image}(image=${recipe.image})}" alt="zdjecie przepisu"/>-->
            <div class="item-title">
            <h1 th:text="${recipe.title}"></h1>
            </div>
            <div class="item-info">
            <p th:text="${recipe.description}"></p>
            </div>
        </div>
    </div>


    <div th:if="${recipes == null or #lists.isEmpty(recipes)}">
        <p>Brak przepisów do wyświetlenia.</p>
    </div>

    <div th:if="${error}" th:text="${error}"></div>
</div>

<script>
    document.getElementById("addButton").addEventListener("click", function () {
        window.location.href = "/addForm";
    });

    document.getElementById("adminButton").addEventListener("click", function () {
        window.location.href = "/admin";
    });

    document.querySelectorAll(".item").forEach(function (item) {
        item.addEventListener("click", function () {
            var recipeId = item.getAttribute("data-id");

            window.location.href = "/view/recipe/" + recipeId;
        });
    });
</script>
</body>
</html>
